.invoice-container {
  width: 100vw;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding: 8px;

  align-items: center;
  justify-items: center;
}

.invoice-container .invoice-details {
  min-width: 250px; 
  min-height: 350px;
  
  margin: 12px;
  padding: 18px;
   
  display: flex;
  flex-direction: column; 
  align-items: left;

}

.invoice-container .invoice-details h1 {
  font-size: 64px;
}

.invoice-container .invoice-details p {
  font-size: 24px;
  line-height: 32px;
}

.invoice-container .invoice-details h2 {
  padding: 0;
  text-align: left;
}

input {
  width: 250px;
  margin-top: 100px;
  color: rgba(33, 150, 243, 1);
  border: solid 1px rgba(33, 150, 243, 1);
  border-radius: 8px;
  
  font-size: 20px;
  text-align: center;
  
}

label, spam {
  font-size: 24px;
  color: #737380;
  margin-top: 24px;
  line-height: 32px;
}

.invoice-container .invoice-details .expenditure {
  width: 550px;
  margin: 100px 0 0 0;
  background-color: #EBEBEB;
  border: solid 1px rgba(33, 150, 243, 1);
  border-radius: 8px;
  padding: 12px;

  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.details {
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.details label {
  margin: 12px;
  padding: 8px;
}

.invoice-container .invoice-details .advice { 
  width: 550px;
  margin: 100px 0 0 0;
  background-color: #e4f8f1;
  border: solid 1px rgba(33, 150, 243, 1);
  border-radius: 8px;
  padding: 12px;
  
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}


.details {
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.details h2 {
  text-align: left;
  font-size: 18px;
}

.details label {
  font-size: 18px;
  margin: 12px;
  padding: 8px;
}

.details p {
  font-size: 32px;
  font-weight: 800;
}

button {
  width: 350px;
  padding: 18px;
  margin-bottom: 150px;
  border: solid 1px rgba(33, 150, 243, 1);
  border-radius: 50PX;
  background: rgba(33, 150, 243, 1);
  color:#FFFFFF;

  font-size: 32px;
}

button:hover {
  filter: brightness(80%);
  transition: 0.2s;
}