.middle {
 width: 80%;
 max-width: 80%;
 height: 100%;
 margin: 0 auto;
 padding: 16px;
 
 display: flex;
 align-items: center;
 justify-content: space-between;  
 flex-direction: row;
}
 
.content {
 min-width: 350px;
 min-height: 450px;
 max-width: 350px; 
 max-height: 450px;
 
 margin: 32px;
 padding: 24px;
 background: #f0f0f5;
 box-shadow: 0 0 15px rgba(0, 0, 0.1);
 border-radius: 20px;
  
 display: flex;
 flex-direction: column; 
 justify-content: space-between;
 position: relative;
}

.middle .content h1, h2, h3,
.middle .content p {
 margin-bottom: 24px; 
 color: #737380;
 line-height: 32px; 
 text-align: center;
}

.middle .content button {
  
 padding: 20px;
 background: #2196F3;
 border-radius: 50px;
 border: none;
 color: #ffffff;
 
 font-weight: 800;
 font-size: 24px;
} 

.middle .content button:hover {
 background: #97C4E8;
 border: solid 1px #2196F3;
 transition: 0.2s;
}
